.card{
    margin: 15px;
    display: grid;
    justify-items: center;
    width: 200px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
}
.card img{
    margin-top: 30px;
    width: 150px;
}
.card p {
    margin: 0;
    text-align: center;
}